{% extends 'base.html' %} {% block title %}Hospital Staff{% endblock %} {% block navigation %}
<li>
    <a href="{% url 'hospital_staff_appointments' %} ">
    Appointments</a
  >
</li>
<li>
  <a
    href="{% url 'hospital_staff_create_payment' %} "
  >
    Create Payment</a
  >
</li>
<li>
  <a
    href="{% url 'hospital_search_patients' %} "
  >
    View Patient Records</a
  >
</li>
<li>
  <a href="{% url 'hospital_generate_bill' %} ">
      Generate Bill</a
  >
</li>
{% endblock %}

{% block content%}
    <form  method="post">
        {% csrf_token %} {{ form.as_p }}
        <input type="Submit" value="Submit">
    </form>
{% endblock content %}