asgiref==3.5.0
confusable-homoglyphs==3.2.0
Django==4.0.3
django-bootstrap3==21.2
django-registration==3.2
keras==2.8.0
pip==22.0.4
setuptools==61.2.0
sqlparse==0.4.2
wheel==0.37.1
gunicorn
nltk
django-widget-tweaks
django-cors-headers
tensorflow
django_otp
django-two-factor-auth
phonenumbers
xhtml2pdf
