{% extends 'Patient/patient.html' %}
{% block content %}
<!-- <body> -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h6 class="panel-title">Your Prescription Details</h6>
            </div>
            <table class="table table-hover" id="dev-table">
                <thead>
                    <tr>
                        <th>doctor</th>
                        {% comment %} <th>patientID</th> {% endcomment %}
                        <th>appointmentID</th>
                        {% comment %} <th>test_recommendation</th> {% endcomment %}
                        <th>prescription</th>
                    </tr>
                </thead>
                {% for a in patient_prescription_details %}
                <tr class="black-table-row">
                    <td>{{a.doctorID.doctorID}}</td>
                    {% comment %} <td>{{a.patientID.patientID}}</td> {% endcomment %}
                    <td> {{a.appointmentID.appointmentID}}</td>
                    {% comment %} <td>{{a.test_recommendation}}</td> {% endcomment %}
                    <td>{{a.prescription}}</td>
                    
                </tr>
                {% endfor %}
               
            </table>
        </div>
{% endblock content %}